<div class="">
   <%= image_tag ('apples'), class: "d-block w-100"  %>
</div>
<br>

<center><h1>About Us</h1></center>
<br>
<p>In 1986, Rick and Terri Martin bought property in Cashmere, Washington on which to build their home.  Their lot contained three acres of nectarine trees, which the couple enjoyed tending to and carrying for so much, that they decided to make a living out of it, and Martin Family Orchards was born.  Since that time, this family enterprise has acquired more orchards: first an apple and pear orchard in Cashmere, and then an additional 80 acres in Orondo, bringing their total up to 110 acres.  Martin Family Orchards has remained a family business, with Rick and Terri’s grown sons, Ricky, Jamie, and Jonny, working for the farm.</p>

<p>Known best for their Rainier cherries, Martin’s brings a variety of tree-ripened fruit to the Carnation Farmers Market over the course of the season.  Early on, you’ll find Rainier and Bing cherries, followed by apricots, peaches (of which they grow five varieties), plums, and a couple varieties of nectarines.  Later in the season, they’ll bring their Gala and Fuji apples, and finally their Bartlett, Asian, and D’Anjou pears.  All of it is picked fresh and ripe on Sunday or Monday for our Tuesday market.  At their orchards in Cashmere and Orondo (which lie a thirty minute drive apart from each other on the west and east sides of the Columbia River as it flows south through Eastern Washington), the Martins use as much natural pest management as possible.  At the beginning of the season, they release about 20,000 ladybugs and between 10,000 and 15,000 lacewings in their orchards, which prey on aphids.</p>

<p>Martin Family Orchards has been selling their fruit at the Carnation Farmers Market since the market started back in 2003.  They’re no stranger to markets: Rick started selling their nectarines at Pike Place Market back in 1986, and today you’ll find Martin Family Orchards at Pike Place every day of the week.</p>
