
    <div class="">
       <%= image_tag ('peaches'), class: "d-block w-100"  %>
    </div>
  </div>
  <div class="container">
    <div>
      <center><h1>Welcome <%= current_user.email %> to Martin Family orchards!</h1></center>
    </div>
    <div class="row">


    </div>

  </div>
